<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
   
    <link rel="icon"  href="/images/logo.jpg">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <title>Hotel ULEAM</title>
</head>
<script src="/Scripts/menu-footer.js"></script>
<body>
    <header>
        <%- include('menu'); -%>
    </header>
    
    <section>
        <div class="imagenPortada">
            <div class="galeria">
                
             
                    <input type="radio" name="navegacion" id="_1" checked >
                    <input type="radio" name="navegacion" id="_2">
                    <input type="radio" name="navegacion" id="_3" >
                    <input type="radio" name="navegacion" id="_4" > </br>
                    
               
                
                <figure>
                    <img src="/images/imgPantalla/imagen1.jpg" alt="Galeria CSS 1" />
                    <img src="/images/imgPantalla/imagen2.jpg"  alt="Galeria CSS 2"  />
                    <img src="/images/imgPantalla/imagen3.jpg" alt="Galeria CSS 3" />
                    <img src="/images/imgPantalla/imagen4.jpg" alt="Galeria CSS 4" />
                </figure>
                    
             
               
            </div>

        </div>
    </section>
    <div  data-aos="flip-left"  class="btn-whatsapp">
        <a href="https://api.whatsapp.com/send?phone=593984453131" target="_blank">
           <main>
             <span tooltip="¿Podemos Ayudarlo?" flow="left"> <i class="fab fa-whatsapp-square"></i></span>
           </main>  
         </a>
         </div>
     
    <section class="contenedor"> <!--Seccion 1-->        
            <img src="images/sala.png" alt="Habitaciones">
            <p>
                En nuestro hotel 
                puedes encontrar 
                las mas comodas y 
                confortables habitaciones
                para pasar tus días.
            </p>
            <button class="boton">Ver más</button>
    </section>
    <section class="contenedor">
        <img src="images/comida.png" alt="comida" >
            <p>
                Contamos con los mejores 
                menus, para que te deleites 
                disfrutando de una 
                deliciosa comida.        
            </p>
            <button class="boton">Ver más</button>
        
        
            
    </section>
    <section class="contenedor">
        <img src="images/entretenimiento.png" alt="entretenimiento" >
            <p>                
                Puedes encontrar diversas maneras
                 de entretenerte y 
                realizar diferentes actividades en compañia.
            </p>
            <button class="boton">Ver más</button>
    </section>


    <footer id="pie">
        <div class="cajaInfo">
            <h2>Hotel Universitario</h2>
            <p>SOMOS UN EXCELENTE SERVICIO Y UNA BUENA ESTADIA</p>
        </div>
        <div class="cajaInfo">
            <h5 class="card-title">MAS INFORMACION</h5>
            <p class="card-text">PARA RESERVACONES AL 0988736877</p>
        </div>
    </footer>
    
    

    <script src="https://kit.fontawesome.com/0458944bda.js" crossorigin="anonymous"></script>
</body>
</html>