<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/menu.css">
</head>
<body>
    <header id="encabezado" >
        <nav class="navbar navbar-expand-lg navbar-light bg-ligh" >
            <figure id="logo">
                <a href="\"><img src="/images/logo.jpg"  ></a>
            </figure>
            
            <div class="collapse navbar-collapse" id="navbarColor02" >
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link h5.5"   href="\"><b class="nave">INICIO</b> </a>
                    </li>
                    
                        <li class="nav-item ">
                            <a class="nav-link h5.5"  href="/reservacion"><b class="nave">RESERVACION</b></a>
                        </li>
                
                    <li class="nav-item ">
                        <a class="nav-link h5.5"  href="/registrados"><b class="nave">REGISTROS</b></a>
                    </li>
                   
                    
                    <li class="nav-item">
                        <a class="nav-link"  text-danger  href="/quienes-somos" ><b class="nave">QUIENES SOMOS</b> </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</body>
</html>
