<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"  href="/images/logo.jpg">
    <title>ULEAM HOTEL - RESGISTRADOS</title>
    <link rel="stylesheet" href="/stylesheets/style_I.css">
    <link rel="stylesheet" href="/stylesheets/registrados.css">
<script src="/Scripts/menu-footer.js"></script>
</head>
<body>
    <header>
        <%- include('menu'); -%>
    </header>
    <section id="caja-busqueda">
        <figure>
            <img src="/images/logo.jpg" alt="">
        </figure>
        <div id="busqueda">
            
                IDENTIFICACIÓN: <input id="busquedatxt" class="entrada"  type="text" name="last_name_control" autofocus required placeholder="CÉDULA O PASAPORTE"/>
                
            
            <button id="boton1">Buscar</button>
        </div>
    </section>
    <footer id="pie">
        <div class="cajaInfo">
            <h2>Hotel Universitario</h2>
            <p>SOMOS UN EXCELENTE SERVICIO Y UNA BUENA ESTADIA</p>
        </div>
        <div class="cajaInfo">
            <h5 class="card-title">MAS INFORMACION</h5>
            <p class="card-text">PARA RESERVACONES AL 0988736877</p>
        </div>
    </footer>
</body>
</html>