<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
 
    <link rel="stylesheet" href="/stylesheets/style_I.css">
    <link rel="stylesheet" href="/stylesheets/StyleElements.css">
    <link rel="icon"  href="/images/logo.jpg">
    <title>Registro - HOTEL ULEAM</title>
</head>
<script src="/Scripts/menu-footer.js"></script>
<body>
    <header>
        <%- include('menu'); -%>
    </header>
    <section id="cajaSuperior">


        <div class="cuerpo" id="cuerpo1">
            <header id="Tregistro">
                <h1>REGISTRO</h1>
            </header>
            <section>
                <form action="/xd" id="formulario" name="miFormulario" onsubmit="return comprobar()">
                    
                <div id="cajaFormulario">
                    <h2>Datos personales</h2><br>
                
                    <div class="datos">
                      
                        <input id="nombre" class="entrada" type="text" name="nombre"  required autofocus placeholder="Nombre"/>
                    </div>
                    
                    <div class="datos">
                     
                    <input id="apellido" class="entrada"  type="text" name="apellido" autofocus required placeholder="Apellidos"/>
                    </div>
                    
                    <div class="datos">
                       
                        <input id="correo" class="entrada"  type="email" name="email_control" required placeholder="Correo Eléctronico"/>
                    </div>
                    
                    
                    <div class="datos">
                      
                        <input id="facultad" class="entrada"  type="text" name="email_control" required placeholder="Facultad"/>
                    </div>
                    <div class="datos">
                        
                        <input class="entrada"  type="text" name="ci" placeholder="Pasaporte o CI" />
                    </div>
                    <div class="datos">
                        
                   
                        <input class="tel"  type="text" name="tel_control" placeholder="Teléfono" />
                    </div>
                    <div class="datos">
                      
                        <input class="entrada"  type="text" name="nacionalidad" placeholder="Nacionalidad" />
                    </div>
                   
                    <div class="datos">
                        
                    <label class="content-input">
                        <input type="radio" name="sexo" id="masculino" value="Masculino" checked>Masculino
                        <i></i>
                    </label>
                    <label class="content-input">
                        <input type="radio" name="sexo" id="Femenino" value="Masculino">Femenino
                        <i></i>
                    </label>
                    </div>
                  
                    
                    <!-- <div id="caja_boton">
                        <input  id="boton" type="submit" value="Enviar!" onclick="btnAsignar()" />
                    </div>
                    -->
                </div>    
                   
                    
                        <div id="cajaFormulario">
                            <h2>Datos de habitación</h2><br>
                            <div class="datos">
                                Cantidad de personas: <br>
                                <input type="number" min="1" max="5" name="npersona" id="npersona" value="1" step="0" onclick="validarImg()"> 
                            </div>
                            <br>
                           
                            <div class="datos">
                                Tipo de habitación: <br><br>
                                
                                <label class="content-input"><input type="radio" id="basica" name="habitacion" value="basica" checked onclick="validarImg()" >Básica <i></i></label>
                                <label class="content-input"><input type="radio" id="media" name="habitacion" value="media" onclick="validarImg()">Media <i></i> </label> 
                               <label class="content-input"> <input type="radio" id="alta" name="habitacion" value="alta" onclick="validarImg()">Alta  <i></i></label> 
                               
                            </div>
            
                            <div class="datos">
                                <label class="content-input">
                                    <input type="checkbox" name="Comida" id="Comida" value="Comida" onclick="validarImg()">
                                    <i></i>Comida
                                </label>
                            </div>
                            <div class="datos">
                                <label for="Name">Precio: <span id="precio">_____</span> por noche</label>
                            </div>
                                    
                            
                          
                           
                            
                         
                           
                            <div id="caja_boton">
                                <input id="boton" type="submit" class="btn btn-outline-success" type="button" value="Registrar" onclick="validacion()">
                             
                            </div>
                           
                        </div>    
                        <div class="datos">
                            <figure id="imgbasicaDuo" class="imagenHabitacion">
                                <img src="/images/imgHabitacion/duplabasica.jpg" alt="" >
                            </figure>
                            <figure id="imgbasica" class="imagenHabitacion">
                                <img src="/images/imgHabitacion/media.jpg"alt="" >
                            </figure>
                            <figure id="imgmedia" class="imagenHabitacion">
                                <img src="/images/imgHabitacion/alta.jpg" alt="" >
                            </figure>
                        </div>
    
    
                            </form>
    
                </section>
    
        </div>
    </section>
    <footer id="pie">
        <div class="cajaInfo">
            <h2>Hotel Universitario</h2>
            <p>SOMOS UN EXCELENTE SERVICIO Y UNA BUENA ESTADIA</p>
        </div>
        <div class="cajaInfo">
            <h5 class="card-title">MAS INFORMACION</h5>
            <p class="card-text">PARA RESERVACONES AL 0988736877</p>
        </div>
    </footer>
    
        
    
        
        
        <script src="/Scripts/script1.js"></script>
</body>

</html>