<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="icon"  href="/images/logo.jpg">
  
    <link rel="stylesheet" href="/stylesheets/QuienesSomos.css">
    
    <title>Hotel ULEAM</title>
    <script src="/Scripts/menu-footer.js"></script>
</head>
<body>
    <header>
        <%- include('menu'); -%>
    </header>
    <section>
        <header id="encabezadoSomos">
            <h1>Quienes Somos</h1>
        </header>
        <div class="description-somos">
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis perferendis soluta, odio dolor quas provident quaerat placeat ducimus repellat magnam expedita sapiente molestiae at nobis, nam optio pariatur, aliquam culpa distinctio explicabo? Expedita alias a obcaecati ab voluptatibus non ratione tempore eos saepe eligendi provident, in, animi quod temporibus commodi quam. Soluta, ratione distinctio. Saepe debitis illum ullam earum vitae fuga id, itaque ab provident omnis dicta dolore reprehenderit cupiditate, ipsa quibusdam. Optio adipisci ipsa inventore animi, porro fuga illo sequi in perspiciatis. Voluptas autem architecto exercitationem, ut doloribus beatae ab facilis nemo dolores. Error eaque delectus magni iste possimus?

                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident beatae esse rerum vel voluptatum et omnis suscipit, iusto maxime ab, quae distinctio nam voluptate ut magnam voluptas in, maiores quasi.
            </p>
            <figure id="imagenFamilia">
                <img src="/images/imgSomos/familia.jpg" alt="">
            </figure>
        </div>

    </section>
    <footer id="pie">
        <div class="cajaInfo">
            <h2>Hotel Universitario</h2>
            <p>SOMOS UN EXCELENTE SERVICIO Y UNA BUENA ESTADIA</p>
        </div>
        <div class="cajaInfo">
            <h5 class="card-title">MAS INFORMACION</h5>
            <p class="card-text">PARA RESERVACONES AL 0988736877</p>
        </div>
    </footer>
</body>
</html>