
.navbar{

    height: 70px;
    background-color: white;
  
}
.nave{
    color: teal;
    margin-inline: 30px;
    
    
}
.nave:hover{
    color: rgb(90, 90, 90);
}
#logo{
    margin-top: 10px;
    width: max-content;
    float: left;
    
  
}
#logo img{
    
    max-width: 60px;
    margin-right: 35vmax;
}
