#caja-busqueda{
    width: 100%;

}
#caja-busqueda figure{
    margin-block: 20px;
    width: max-content;
    margin-inline: auto;
}

#caja-busqueda figure img{
    width: 300px;
    border-radius: 50%;
    box-shadow: 5px 5px 25px;

}

#busqueda{
    width:70%;
    margin-inline: auto;
    margin-block: 50px;
    
    
}
body{
    background-image: none;
}


#busquedatxt{
    width:50%;
    height: 50px;
    border-radius: 10px;
    margin-inline: 20px;
    outline: none;
}
#boton1{
    width:200px;
    height: 50px;
    border-radius: 10px;
    outline: none;

}