*{
    padding: 0;
    margin: 0;
}



.imagenPortada{
     margin-inline: auto;
     width: 100%;
    
 }
 .galeria {
  
    
  float: right;
    width: 100%;
    height: 75vh;
    margin-inline:auto ;
   
}  

.galeria img{
    top: 70px;
    position: absolute;
    opacity: 0;
    width:100%;
    height:75vh;
    transition: opacity 5s;
    box-shadow: 5px -5px 25px #999;
}
.galeria input{
    position:relative;
    z-index: 100;
    display: inline-block;
    top:65vh; left: 100vh; 
    visibility:visible;
    opacity: 0.5;
    
}
.galeria input[type=radio]:nth-of-type(1):checked ~ figure img:nth-of-type(1){opacity: 1;}
.galeria input[type=radio]:nth-of-type(2):checked ~ figure img:nth-of-type(2){opacity: 1;}
.galeria input[type=radio]:nth-of-type(3):checked ~ figure img:nth-of-type(3){opacity: 1;}
.galeria input[type=radio]:nth-of-type(4):checked ~ figure img:nth-of-type(4){opacity: 1;}
 

/*footer*/
#pie {
    
    background-color: #012b1c;
    width: 100%;
    float: left;

}
#pie .cajaInfo{
    float: left;
    width: 50%;
    margin-block: 20px;
    
}
#pie{
    text-align: center;
    color: #fff;
}

/*----------------------------------------------------------------*/

.contenedor{
    float: left;
    box-sizing: border-box;
    text-align: center;
    margin: 1%;
    padding: 8px;
    text-align: center;
    
}

.contenedor img{
    max-width:100%;
    height: auto;
    border-radius: 5px;
}
.boton{
    background-color: #095a3f;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 1px solid rgb(9, 90, 63);
    margin-top: 0.5cm;
}



.fab{
    font-size: 60px;
   color: #0ea81b;
    opacity:0.9;
    cursor:pointer; 
    
} 
.fab:hover{
    font-size: 60px;
   color: #0cc21c;
  opacity: 1;
    cursor:pointer;  
} 

.btn-whatsapp {
    display:block;
    width:70px;
    height:70px;
    color:#fff;
    position: fixed;
    right:20px;
    bottom:20px;
    border-radius:50%;
    line-height:80px;
    text-align:center;
    z-index:999;
}

/*====================================================================*/

/* START TOOLTIP STYLES */
[tooltip] {
    position: relative; /* opinion 1 */
  }
  
  /* Applies to all tooltips */
  [tooltip]::before,
  [tooltip]::after {
    text-transform: none; /* opinion 2 */
    font-size: .9em; /* opinion 3 */
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
  }
  [tooltip]::before {
    content: '';
    border: 5px solid transparent; /* opinion 4 */
    z-index: 1001; /* absurdity 1 */
  }
  [tooltip]::after {
    content: attr(tooltip); /* magic! */
    
    /* most of the rest of this is opinion */
    font-family: Helvetica, sans-serif;
    text-align: center;
    
    /* 
      Let the content set the size of the tooltips 
      but this will also keep them from being obnoxious
      */
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: .3ch;
    box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
    background: #333;
    color: #fff;
    z-index: 1000; /* absurdity 2 */
  }
  
  /* Make the tooltips respond to hover */
  [tooltip]:hover::before,
  [tooltip]:hover::after {
    display: block;
  }
  
  /* don't show empty tooltips */
  [tooltip='']::before,
  [tooltip='']::after {
    display: none !important;
  }
  
  
  
  /* FLOW: LEFT */
  [tooltip][flow^="left"]::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: #333;
    left: calc(0em - 5px);
    transform: translate(-.5em, -50%);
  }
  [tooltip][flow^="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    transform: translate(-.5em, -50%);
  }
  
  
  /* KEYFRAMES */
  @keyframes tooltips-vert {
    to {
      opacity: .9;
      transform: translate(-50%, 0);
    }
  }
  
  @keyframes tooltips-horz {
    to {
      opacity: .9;
      transform: translate(0, -50%);
    }
  }
  
  /* FX All The Things */ 
  [tooltip]:not([flow]):hover::before,
  [tooltip]:not([flow]):hover::after,
  [tooltip][flow^="up"]:hover::before,
  [tooltip][flow^="up"]:hover::after,
  [tooltip][flow^="down"]:hover::before,
  [tooltip][flow^="down"]:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
  }
  
  [tooltip][flow^="left"]:hover::before,
  [tooltip][flow^="left"]:hover::after,
  [tooltip][flow^="right"]:hover::before,
  [tooltip][flow^="right"]:hover::after {
    animation: tooltips-horz 300ms ease-out forwards;
  }
/*====================================================================*/




@media (min-width: 360px){
    section{
        width: 31%;
        font-size: 8px;
    }
    .boton{
        width: 80%;
        font-size: 9px;
    }
}
@media (min-width: 768px){
    section{
        width: 31%;
        font-size: 12px;
    }
    .boton{
        width: 60%;
        font-size: 14px;
    }
}
@media (min-width: 1200px){
    section{
        width: 31%;
        font-size: 16px;
    }
    .boton{
        width: 50%;
        font-size: 18px;
    }
}